# Default ignored files
/shelf/
/workspace.xml

deploymentTargetDropDown.xml
deploymentTargetSelector.xml
runConfigurations.xml
androidTestResultsUserPreferences.xml

/gradle.xml
/misc.xml

/sonarlint
